@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: var(--white);
}

:root {
    --white: #ffffff;
    --dark-white: #e9e9e9;
    --light-dark: #141414;
    --black: #000000;
    --root-clr: #e91717;
}

.desktop-navbar {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid var(--dark-white);
    z-index: 5;
    clip-path: ellipse(100% 55% at 48% 44%);
    backdrop-filter: blur(15px);
}

.desktop-navbar .desk-nav-item {
    font-family: 'Poppins', sans-serif;
    height: 40px;
    margin-top: 50px;
}

.desktop-navbar .desk-nav-item a {
    padding-top: 20px;
    color: var(--light-dark);
}

.desktop-navbar .desk-nav-item a:hover {
    color: var(--root-clr);
}

.desktop-navbar .desk-nav-item-img {
    height: 100px;
    padding: 10px;
    background: transparent;
}

.desktop-navbar .desk-nav-item-img img {
    width: 110px;
    height: 100px;
}

.desktop-navbar .desk-nav-item svg {
    cursor: pointer;
    margin-top: 5px;
    color: var(--root-clr);
}

.desktop-navbar .desk-nav-item:nth-child(6) {
    display: none;
}

 /* Overlay styles */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    right: -270px;
    width: 270px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
  }

  .sidebar.active {
    right: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--root-clr);
    color: #fff;
    clip-path: ellipse(100% 55% at 48% 44%);
  }

  .sidebar-header h2 {
    margin: 0;
    font-size: 1.2rem;
  }

  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
    cursor: pointer;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar-menu li {
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
  }

  .sidebar-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .menu-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }


.first-sect {
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-position: center;
    background-size: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('img/media-doodle.png');
    clip-path: ellipse(100% 55% at 48% 44%);
    z-index: 1;
}

.first-sect div {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    overflow: hidden;
}

.first-sect div:nth-child(1) {
    padding: 5px;
    text-align: left;
    font-size: 40px;
    color: white;
}

.first-sect div:nth-child(1) p {
    margin-top: calc(50% - 200px);
    font-weight: 200;
}

.contact-btn {
    cursor: pointer;
    width: 160px;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(to left bottom,rgb(197, 0, 95), var(--root-clr), #ff6a00);    
    border: none;
    border-radius: 18px;
    display: flex;
    justify-content: space-evenly;
}

.contact-btn i {
    font-size: x-large;
}

/* SERVICES */

.service-section {
  width: 100%;
  margin-top: 30px;
  background: rgb(25, 25, 25);
}

.service-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service-cards .card {
  width: 300px;
  height: 350px;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.service-cards .card code{
  color: rgb(234, 48, 48);
}

.card img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: calc(50% - 50px);
}

.card p {
  color: var(--white);
}


/* ABOUT ME */

.meet-the-ceo {
  color: rgb(233, 23, 23);
  font-size: larger;
  text-align: center;
  margin-top: 40px;
}

.about-section {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 45%;
  height: 550px;
  background-image: url('./img/img1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.right {
  width: 55%;
  min-height: 400px;
  background-color: rgba(47, 61, 60, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -90px;
  backdrop-filter: blur(10px);
}

.right h1 {
  font-size: 40px;
  font-weight: 200;
}

.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(to left bottom, #ee0979, #fc1c62, #ff364a, #ff512f, #ff6a00);
  color: var(--white);
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 5px;
}

/* REVIEWS */

#review-page,
#rate-card,
.section-heading-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

#review-page::after,
#rate-card::after,
.section-heading-title::after {
    content: "";
    width: 40px;
    height: 5px;
    border-radius: 5px;
    margin-left: calc(50% - 75px);
    display: block;
    background: linear-gradient(to right, #ffcc33, #ff6666);
}

#reviews {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 630px;
}

.slides {
    display: flex;
    overflow: visible;
    height: 580px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    height: 590px;
}

.testimonial {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    background-color: #74EBD5;
    background-image: linear-gradient(25deg, #74EBD5 0%, #9FACE6 100%);
    height: 400px;
    color: white;
}

.testimonial .review {
    font-weight: 400;
    letter-spacing: 0.4px;
}

.testimonial p {
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.review-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-left: calc(50% - 35px);
    margin-bottom: 10px;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .testimonial {
        padding: 15px;
    }
}

/* EXTRA BENEFITS WITH APEKE */


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.question {
  background: white;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
  color: rgb(233, 23, 23);
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: 0.8px;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  color: rgb(233, 23, 23);
}

.question-text {
  text-align: center;
  padding: 1rem 0 1.5rem 0;
  color: rgb(233, 23, 23);
  letter-spacing: 0.8px;
  line-height: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
  margin-bottom: 0;
}


/* hide text */

.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

/* PRICING */

.requirements {
  width: 100%;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
}

.requirements b{
  color: var(--root-clr);
  padding: 25px;
}

.requirements ul{
  list-style: none;
  margin-top: 20px;  
  padding: 15px;
}

.price-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.price-card-container .price-card{
  width: 300px;
  height: 400px;
  margin: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 20px;
}

.price-card-container .price-card::before{
  content: '';
  width: 60px;
  height: 70px;
  display: block;
  background: var(--root-clr);
  margin-left: calc(100% - 38px);
  margin-top: -21px;
  border-top-right-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.price-card-container .price-card p{
  text-align: left;
  margin-bottom: 5px;
}

.price-card-container .price-card button{
  margin-top: 30px;
  margin-left: calc(50% - 85px);
}


footer{
  width: 100%;
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./img/banner-2-bg.jpg');
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f4f4f4;
}

.footer-section p {
  color: var(--white);
  line-height: 1.8;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: var(--white);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--root-clr);
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 100px;
  margin-right: 15px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
}

.social-icons a {
  color: var(--white);
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  width: 80%;
  margin-left: calc(50% - 40%);
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--root-clr);
}

.footer-bottom a {
  text-decoration: none;
  color: var(--root-clr);
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .newsletter input {
    width: 60%;
  }
}
